*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Proboscis_monkey_%28Nasalis_larvatus%29_female_Labuk_Bay.jpg/248px-Proboscis_monkey_%28Nasalis_larvatus%29_female_Labuk_Bay.jpg");
    font-family: Verdana;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
    padding: 50px;
    background-image: url("header.png");
    color: rgba(255, 255, 255, 0.63);
}

button{
    background-color: rgb(22, 14, 37);
    font-family: Verdana;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    width: 150px;
}

article{
    margin: 1%;
    padding: 50px;
    padding-left: 80px;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 10px;
    flex-wrap: wrap;
}

h1{
    color: white;
}

h3{
    margin-top: 20px;
}

p{
    width: 50%;
}

a{
    color: rgba(255, 255, 255, 0.24);
}

footer{
    padding: 10px;
    padding-left: 90px;
    background-color: rgba(0, 0, 0, 0.678);
}
